global-exclude *.dockerfile
global-exclude *.bin
global-exclude *.tar
global-exclude *.tar.xz

include src/ai/backend/krunner/static_gnu/__init__.py
include src/ai/backend/krunner/static_gnu/krunner-env.static-gnu.ARCH.tar.xz
include src/ai/backend/krunner/static_gnu/ttyd_linux.ARCH.bin
include src/ai/backend/krunner/static_gnu/versions.txt
include src/ai/backend/krunner/static_gnu/krunner-python.static-gnu.txt
include src/ai/backend/krunner/static_gnu/krunner-version.static-gnu.txt
